<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henrik.facebook_test_rightversion">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:name=".GetHashCode"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.henrik.facebook_test_rightversion.ReciverNotification"></receiver>
        <activity android:name=".Ranking"></activity>
        <activity android:name=".Tournament"></activity>
        <activity android:name=".FrameDataMenu"></activity>
        <activity android:name=".MovelistViewer"></activity>
        <activity android:name=".PunishmentViewer"></activity>
        <activity android:name=".Tutorials"></activity>
        <activity android:name=".Sites"></activity>
    <activity android:name="com.facebook.FacebookActivity"
        android:configChanges = "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:theme = "@android:style/Theme.Translucent.NoTitleBar"
        android:label="@string/app_name"/>


        <provider android:authorities="com.facebook.app.FacebookContentProvider143080496085237"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>
